.red {
	background-color: red;
	color: white;
}

.black {
	background-color: black;
	color: white;
}

.white {
	color: white;
}

.blue {
	background-color: blue;
	color: white;
}

.green {
	background-color: green;
	color: white;
}

.brown {
	background-color: brown;
	color: white;
}

.pink {
	background-color: pink;
	color: white;
}

.yellow {
	background-color: yellow;
	color: white;
}

.gold {
	background-color: gold;
	color: white;
}

.lime {
	background-color: lime;
	color: white;
}

.aqua {
	background-color: aqua;
	color: white;
}

.teal {
	background-color: teal;
	color: white;
}

.navy {
	background-color: navy;
	color: white;
}

.purple {
	background-color: purple;
	color: white;
}

.gray {
	background-color: gray;
	color: white;
}

.olive {
	background-color: olive;
	color: white;
}

.btn-width {
	width: 100px;
}