<head>
	<meta charset="UTF-8">
	<title>My Portfolio</title>
</head>
<template name="header">
	<div class="navbar navbar-default" role="navigation">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">Portfolio</a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
      </button>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-left">
				<li>
					<a href="/about">About</a>
				</li>
				<li>
					<a href="/blog">Blog</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{{>loginButtons}}
				{{#if currentUser}}
				{{else}}
				<div class="alert alert-info alert-dismissible fade in" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<small>You can login as admin with username admin@test.com and password test123</small>
				 </div>
			 {{/if}}
			</ul>
		</div>
	</div>
</template>
