<template name="home">

	<header id="header">
		<div id="head" class="parallax" parallax-speed="2">
			<h1 id="logo" class="text-center">
				<img class="img-circle" src="johndoe.jpg" alt="">
				<span class="title">John doe</span>
				<span class="tagline">A mystery person<br>
					<a href="">john_doe@example.com</a></span>
			</h1>
		</div>
	</header>

	<main id="main">

		<div class="container">

			<div class="row section topspace">
				<div class="col-md-12">
					<p class="lead text-center text-muted">Lorem ipsum dolor sit amet, has iudico adolescens ea. Mazim bonorum volumus duo an, discere detracto disputationi vix no. Eos ei error iriure. No tation debitis minimum ius, ei cum molestiae gubergren. Constituam repudiandae eum ad, ex amet ignota dolores duo. </p>
				</div>
			</div> <!-- / section -->

			<div class="row section featured topspace">
				<h2 class="section-title"><span>Skills</span></h2>
				<div class="row skills">
					<div class="col-sm-6 col-md-3">
						<h3 class="text-center">Javascript</h3>
						<p>Lorem ipsum dolor sit amet, has iudico adolescens ea. Mazim bonorum volumus duo an, discere detracto disputationi vix no. Eos ei error iriure. No tation debitis minimum ius, ei cum molestiae gubergren. Constituam repudiandae eum ad, ex amet ignota dolores duo.</p>
					</div>
					<div class="col-sm-6 col-md-3">
						<h3 class="text-center">Meteor</h3>
						<p>Lorem ipsum dolor sit amet, has iudico adolescens ea. Mazim bonorum volumus duo an, discere detracto disputationi vix no. Eos ei error iriure. No tation debitis minimum ius, ei cum molestiae gubergren. Constituam repudiandae eum ad, ex amet ignota dolores duo.</p>
					</div>
					<div class="col-sm-6 col-md-3">
						<h3 class="text-center">Mongo</h3>
						<p>Lorem ipsum dolor sit amet, has iudico adolescens ea. Mazim bonorum volumus duo an, discere detracto disputationi vix no. Eos ei error iriure. No tation debitis minimum ius, ei cum molestiae gubergren. Constituam repudiandae eum ad, ex amet ignota dolores duo.</p>
					</div>
					<div class="col-sm-6 col-md-3">
						<h3 class="text-center">HTML5</h3>
						<p>Lorem ipsum dolor sit amet, has iudico adolescens ea. Mazim bonorum volumus duo an, discere detracto disputationi vix no. Eos ei error iriure. No tation debitis minimum ius, ei cum molestiae gubergren. Constituam repudiandae eum ad, ex amet ignota dolores duo.</p>
					</div>
				</div>
			</div> <!-- / section -->

			<div class="row section recentworks topspace">

				<h2 class="section-title"><span>Recent Works</span></h2>

				<div class="thumbnails recentworks row">

					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<a class="thumbnail" href="/recent-work">
							<span class="img">
								<img src="s1.jpg" alt="">
								<span class="cover"><span class="more">See details &rarr;</span></span>
							</span>
							<span class="title">Sample title - big data solutions</span>
						</a>
						<h4></h4>
						<p></p>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<a class="thumbnail" href="/recent-work">
							<span class="img">
								<img src="s1.jpg" alt="">
								<span class="cover"><span class="more">See details &rarr;</span></span>
							</span>
							<span class="title">Pure ipsum - development services for people</span>
						</a>
						<h4></h4>
						<p></p>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<a class="thumbnail" href="/recent-work">
							<span class="img">
								<img src="s1.jpg" alt="">
								<span class="cover"><span class="more">See details &rarr;</span></span>
							</span>
							<span class="title">Lorem studios - interior and patio design</span>
						</a>
						<h4></h4>
						<p></p>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<a class="thumbnail" href="/recent-work">
							<span class="img">
								<img src="s1.jpg" alt="">
								<span class="cover"><span class="more">See details &rarr;</span></span>
							</span>
							<span class="title">Pure ipsum - development services for people</span>
						</a>
						<h4></h4>
						<p></p>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<a class="thumbnail" href="/recent-work">
							<span class="img">
								<img src="s1.jpg" alt="">
								<span class="cover"><span class="more">See details &rarr;</span></span>
							</span>
							<span class="title">Lorem studios - interior and patio design</span>
						</a>
						<h4></h4>
						<p></p>
					</div>

					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<a class="thumbnail" href="/recent-work">
							<span class="img">
								<img src="s1.jpg" alt="">
								<span class="cover"><span class="more">See details &rarr;</span></span>
							</span>
							<span class="title">Lorem studios - interior and patio design</span>
						</a>
						<h4></h4>
						<p></p>
					</div>
				</div>

			</div> <!-- /section -->

		</div>	<!-- /container -->

	</main>
</template>
